pkgbase = google-antigravity
	pkgdesc = Google Antigravity is an agentic development platform, evolving the IDE into the agent-first era.
	pkgver = 1.11.3_6583016683339776
	pkgrel = 1
	url = https://antigravity.google/
	arch = x86_64
	license = custom
	depends = libxkbfile
	depends = gnupg
	depends = gtk3
	depends = libsecret
	depends = nss
	depends = gcc-libs
	depends = libnotify
	depends = libxss
	depends = glibc
	depends = lsof
	depends = shared-mime-info
	depends = xdg-utils
	depends = alsa-lib
	optdepends = glib2: Needed for move to trash functionality
	optdepends = libdbusmenu-glib: Needed for KDE global menu
	optdepends = org.freedesktop.secrets: Needed for settings sync
	optdepends = icu69: Needed for live share
	options = !strip
	source = https://edgedl.me.gvt1.com/edgedl/release2/j0qc3/antigravity/stable/1.11.3-6583016683339776/linux-x64/Antigravity.tar.gz
	sha256sums = 025da512f9799a7154e2cc75bc0908201382c1acf2e8378f9da235cb84a5615b

pkgname = google-antigravity
